{% extends "base.html" %}
{% load static %}
{% block css %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
{% endblock css %}

{% block contenido %}
        <!-- bienvenidos -->
        <section id="bienvenido">
            <h2>Inscribete y rescata mascotas</h2>            
        </section>
        <!-- formulario ingreso adopcion-->
           
        <section id="formulario">            
            <form action="{% url 'RC' %}" method="post">                
                {% csrf_token %}
                <h1>Ingrese Sus Datos Colaborador</h1>
                <div class="contenedor-input">
                    <input type="text" placeholder="ingrese nombre" class="col-p" name="txtNombre" id="txtNombre">
                    <input type="text" placeholder="ingrese apellido" class="col-p" name="txtApellido" id="txtApellido">
                    <input type="text" placeholder="ingrese nombre usuario" class="col-g" name="txtNombreUser" id="txtNombreUser">                    
                    <input type="password" placeholder="ingrese pass" class="col-p" name="pwdPass1" id="pwdPass1">
                    <input type="password" placeholder="repita pass" class="col-p" name="pwdPass2" id="pwdPass2">
                    <input type="email" class="col-g" placeholder="ingrese correo" name="txtEmail" id="txtEmail">

                    <input type="submit" class="col-p" value="Enviar">
                    <input type="reset" class="col-p" value="Limpiar">
                    
                </div>
            </form>
            <div style="text-align: center;font-size: xx-large;">
            {{mensaje}}
            </div>
        </section>
{% endblock contenido %}        
  
  {% block js %}
  <script src="{% static 'js/validaciones.js' %}"></script>
  {% endblock js %}
    
